/* 전체 레이아웃 및 공통 스타일 */
.app {
  display: flex;
  font-family: 'Arial', sans-serif;
  color: #333;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #f0f0f0; /* 배경은 연한 회색 */
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.home-title {
  color: #333;
  margin-bottom: 20px;
}
.home-container {
  flex-grow: 1; /* 남은 공간을 모두 차지 */
  padding: 20px;
  overflow-y: auto; /* 필요할 경우 스크롤 */
  text-align: center;
}

.logo {
  font-size: 32px;
  color: black; /* 로고 글씨 색상을 검은색으로 */
  margin-top: 40px;
  margin-bottom: 40px;
}


.menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  padding: 10px 0;
  cursor: pointer;
  color: black; /* 메뉴 아이템 글씨 색상을 검은색으로 */
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.2s;
}

.menu-item:hover {
  background-color: #e6e6e6; /* 호버시 배경색 변경 */
}

.main {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
}

.main h1 {
  color: #333;
  margin-bottom: 20px;
}

.search {
  display: flex;
  margin-bottom: 20px;
}

.search input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px; /* 버튼 둥글게 */
}

.button, .button.primary {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 20px; /* 버튼 둥글게 */
  transition: all 0.3s ease; /* 부드러운 전환 효과 */
}

.button:hover, .button.primary:hover {
  transform: scale(1.05); /* 버튼을 클릭할 때 확대 효과 */
}

.button.primary {
  background-color: #ffcc00;
  color: white;
  border: none;
}


.video-content {
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 10px;
}

video {
  width: 100%;
  height: auto;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.video-thumbnail {
  background-color: #eee;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

/* 업로드 페이지 스타일 */
.upload-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  margin: 20px 0;
}

.drag-drop {
  margin-bottom: 20px;
  font-size: 16px;
  color: #666;
}
input[type="file"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

input[type="file"]:hover {
  border-color: #bbb;
}

button {
  padding: 10px 20px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #555;
}

button:focus {
  outline: none;
}

p {
  font-size: 16px;
  color: #666;
}
