.home-container {
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.video-preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

video {
  margin: 5px;
  border: 1px solid #ccc;
}
