.upload-container {
  flex-grow: 1;  /* 남은 공간을 모두 차지하도록 설정 */
  padding: 20px;
  overflow-y: auto;  /* 내용이 넘칠 경우 스크롤바 생성 */
  display: flex;
  flex-direction: column;
  align-items: center; /* 센터 정렬 */
}

input[type="file"] {
  margin: 20px 0;
  padding: 10px;
  width: 80%;  /* 파일 입력 폭을 넓힘 */
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;  /* 버튼 색상 변경 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;  /* 호버 효과 색상 변경 */
}
